.custom-button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 228px;
  height: 56px;
  background-color: #000;
  border: none;
  border-radius: 12px;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-button:hover {
  background-color: #fff;
  color: #000;
}

.custom-button .icon {
  margin-right: 8px;
  width: 24px;
  height: 24px;
  filter: brightness(0) saturate(100%) invert(100%);

  transition: filter 0.3s ease;
}

.custom-button:hover .icon {
  filter: brightness(0) saturate(100%) invert(0%);
}

// ---------------

.language-selector-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.language-selector {
  width: 97px;
  height: 47px;
  padding: 5px;
  border: none;
  border-radius: 12px;
  font-size: 22px;
  background-color: #f0f0f0;
  color: #000;
  cursor: pointer;
  text-align: center;
  appearance: none; /* Remove default dropdown arrow */
  -webkit-appearance: none; /* Remove default dropdown arrow for Safari */
  -moz-appearance: none; /* Remove default dropdown arrow for Firefox */
  position: relative; /* Position for custom arrow */
  padding-right: 20px; /* Space for custom arrow */
}

.language-selector option {
  background-color: #ffffff;
  color: #000000;
}
