.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-size: 22px;
  font-weight: 800;
}

.icone-menu {
  display: flex;
  justify-content: flex-end;
}

.compte {
  margin-left: 50px;
}

header {
  margin-top: 60px;
  margin-bottom: 30px;
}

header a {
  text-decoration: none;
}

header img {
  max-width: 136px;
}

.burger {
  color: #fff;
  font-size: 20px;
}
