.newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  width: 304px;
  height: 42px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 12px;
  font-size: 16px;
  background-color: #e6e6e6;
  color: #000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.input-field::placeholder {
  color: rgba(0, 0, 0, 0.5); /* Couleur noire avec 50% d'intensité */
}

.subscribe-button {
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.subscribe-button:hover {
  background-color: #e6e6e6;
}
