/* ====================================
// css variables
// ==================================== */
body {
  font-family: "basic-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-image: url(/img/background_chalk-board.jpg);
  background-repeat: repeat;
  background-size: 170%;
}

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

// bootstrap ->

// .row + .row {
//   margin-top: 16px;
// }

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;

//   padding-bottom: 12px;

//   background-color: rgba(0, 98, 255, 0.15);

//   border: 1px solid rgba(102, 0, 255, 0.2);
// }

// bootstrap ->

// header,
// footer {
//   background-color: grey;
// }

// --------------------

// ---------------------

// .container {
//   // position: relative;
//   width: 100vw; /* 100% de la largeur de la fenêtre */
//   height: 100vh; /* 100% de la hauteur de la fenêtre */
//   overflow: hidden; /* Pour cacher le débordement de l'image */
// }

// .image {
//   width: 800px;
//   height: 800px;
//   // background-image: url("/img/bière-brune.png");
//   // background-size: cover;
//   // background-position: center;
//   // position: absolute;
//   top: -500px; /* Pour déplacer l'image vers le haut (hors de la vue) */
//   left: -500px; /* Pour déplacer l'image vers la gauche (hors de la vue) */
//   transform: rotate(35deg);
// }
