// --MAIN---

.info {
  color: #fff;
  font-size: 26px;
  text-align: justify;
}

.infos {
  margin-bottom: 300px;
}

h1 {
  font-size: 40px;
  color: #fff;
  margin-top: 50px;
  margin-bottom: 12px;
}

h2 {
  color: #fff;
  font-size: 50px;
}

h3 {
  margin-top: 20px;
  color: #fff;
  font-weight: normal;
}

main h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.logo {
  max-width: 425px;
}

.texte {
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin-bottom: 300px;
}

.texte-titre {
  text-align: center;
  margin-bottom: 20px;
}

// --FOOTER---

footer {
  font-size: 20px;
  color: #fff;
  background-color: #000;
  padding-top: 45px;
  padding-bottom: 45px;
}

.© {
  margin-top: 18px;
}

footer img {
  max-width: 229px;
  margin: 10px;
}

footer a {
  margin-bottom: 7px;
  text-decoration: none;
  display: flex;
}

footer h4 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 25px;
}

footer p {
  margin-top: 20px;
}

.réseaux {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.juridic {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-decoration: underline;
}

hr {
  border: 1px solid #fff;
  max-width: 1295px;
  margin: 0 100px 0 100px;
}
